{{#if thread}}
    <h1>{{thread.title}}</h1>
    <p>{{thread.content}}</p>
<a href="/thread/?id={{thread._id}}">Edit thread</a>
    <a href="/thread/?id={{thread._id}}">Delete thread</a>
    <br>
    Answers:
    <br>
    <hr>
    {{#each thread.answers}}

        <p>{{this.content}}</p>
        <a href="/thread/?id={{this._id}}">Edit answer</a>
        <a href="/thread/?id={{this._id}}">Delete answer</a>

    {{/each}}

    <form action="/thread/addanswer/{{thread._id}}" method="post">
        <input type="text" name="content">
        <input type="submit" value="Add Answer">
    </form>

{{/if}}