{{#if thread}}
    <h1>{{thread.title}}</h1>
    <p>{{thread.content}}</p>

    <h3>Number of views: {{thread.views}}</h3>
    <h3>Number of likes: {{thread.likes}}</h3>

    {{#if userHasLiked}}
        <form method="post" action="/users/dislike/{{thread._id}}">
            <input type="submit" value="Dislike">
        </form>
    {{else}}
        <form method="post" action="/users/like/{{thread._id}}">
            <input type="submit" value="Like">
        </form>
    {{/if}}
<a href="/thread/edit/?id={{thread._id}}">Edit thread</a>
    <a href="/thread/delete/?id={{thread._id}}">Delete thread</a>
    <br>
    Answers:
    <br>
    <hr>
    {{#each thread.answers}}

        <p>{{this.content}}</p>
        <a href="/answer/edit/?id={{this._id}}">Edit answer</a>
        <form method="post" action="/answer/delete/{{this._id}}/{{../thread._id}}">
            <input type="submit" value="Delete Answer">
        </form>

    {{/each}}

    <form action="/thread/addanswer/{{thread._id}}" method="post">
        <input type="text" name="content">
        <input type="submit" value="Add Answer">
    </form>

{{/if}}