<table border="1">
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    {{#each threads}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.title}}</td>
            <td><a href="/thread/?id={{this._id}}">Details</a> </td>
        </tr>


    {{/each}}

</table>

{{#if hasPreviousPage}}
    <a href="/list?page={{prevPage}}">Prevous Page</a>
{{/if}}
{{#if hasNextPage}}
    <a href="/list?page={{nextPage}}">Next Page</a>
{{/if}}